.autoComplete{
     display: flex;
     align-items:center;
     flex-direction: column;
     list-style: none;
     margin-top: 5px;
     max-height: 150px;
     overflow-y: scroll;text-align: left;
     &::-webkit-scrollbar{width: 20px;}
     &::-webkit-scrollbar-thumb{
          background: $midDarkGrey;
          border: 5px solid $white;
          border-radius: 75px;
     }
     &,li{width: 100%;}
     li{
          padding: 10px;
          margin: 5px 0;
          background: $white;
          border: 2px solid $grey;
          border-radius: 10px;
          color: $midDarkGrey;
          cursor: pointer;
     }
}