.autoComplete{
     display: flex;
     align-items:center;
     flex-direction: column;
     list-style: none;
     margin-top: 5px;
     max-height: 150px;
     overflow-y: scroll;text-align: left;
     &::-webkit-scrollbar{width: 20px;}
     &::-webkit-scrollbar-thumb{
          background: #777;
          border: 5px solid #fff;
          border-radius: 75px;
     }
     &,li{width: 100%;}
     li{
          padding: 10px;
          margin: 5px 0;
          background: #fff;
          border: 2px solid #aaa;
          border-radius: 10px;
          color: #777;
          cursor: pointer;
     }
}