.btn, .btn-icon,.link-icon,.link{
     padding: 0.5em 1em;
     text-decoration: none;
     border-radius: 10px;
     transition: .3s;
     cursor: pointer;
     outline:none;
     background: none;
     font-size: 16px;
}
.btn{
     &,&-icon{
          border: 2px solid $col4;
          color: $col4;
          &:hover,&:focus{background: $col4;color: $white;}
     }
     &-icon{
          padding: 0.5em;
          display: flex;
          font-size: 18px;
          justify-content: center;
          align-items: center;
     }
     &.white,&-icon.white{
          border: 2px solid $white;
          color: $white;
          &:hover,&:focus{background: $white;color: $col4;}
     }
     &.fill,&-icon.fill{
          border: 2px solid transparent;
          background: $col2;
          color: $col4;
          font-weight: 500;
          &:hover,&:focus{background: $col3;color: $white;}
     }
     &.fill:disabled,&:disabled{
          user-select: none;
          pointer-events: none;
     }
     &.fill:disabled{opacity: .5;}
     &:disabled:not(&.fill:disabled){
          color: $midLightGrey;
          border-color: $midLightGrey;
     }
     &.red{
          border: 2px solid $error;
          color: $error;
          &:hover,&:focus{background: $error;color: $white;}
     }
}
.link{
     border: 2px solid $white;
     color: $white;
     &:hover,&:focus{background: $white;color: $col3;}
     &-icon{
          border: none;
          color: $white;
          background: none;
          outline: none;
          font-size: 25.5px;
          margin-right: 5px;
          &:hover,&:focus{background: $white;color: $col4;}
          padding: 0.25em;
          display: flex;
          justify-content: center;
          align-items: center;
     }
}
.frmBtn{
     height: 50px;margin: 3px 0;
     font-weight: 500;border-radius: 75px;
     font-size: 18px;width: 100%;
     &-icon{
          font-size: 25px;
          padding: 0.45em;
          display: flex;
          align-items: center;
          border-radius: 10px;
          margin: 5px;
     }
     &,&-icon{
          cursor: pointer;
          transition: .3s;
          outline: none;
          border: 2px solid $col3;
          color: $col3;
          background: $white;
          &:hover, &:focus{color: $white;background: $col3;}
     }
}