.list-nav{
     width: 100%;
     text-align: center;
     background: $white;
     padding: 5px 0 0 0;
     box-shadow: 0 5px 25px rgba(255,255,255,.5);
     h1{
          font-weight: 600;
          font-size: 27.5px;
          color: $col4;
          word-wrap: break-word;
     }
     &-links,&-options{
          display: flex;
          justify-content: center;
          align-items: center;
     }
     &-links a, &-options select{
          cursor: pointer;transition: .3s;
          padding: 0.5em 1em;outline: none;
     }
     &-links a{
          border-bottom: 2px solid transparent;
          text-decoration: none;font-size: 21px;color: $grey;
          &:hover,&:focus{border-color: $grey;}
          &.active{color: $col4;border-color: $col4;}
     }
     &-options{
          background: $col2;
          padding-top: 5px;
          select{
               background: none;
               border: solid $black;
               border-width: 0 0 2px 0;
               margin: 0 5px 5px;
               font-size: 16px;
               font-weight: 500;
               &:hover{color: $medGrey;border-color: $medGrey;}
               &:active,&:focus{color: $col4;border-color: $col4;}
          }
     }
}
@media screen and (max-width: 400px){
     .list-nav .list-nav-options{
          flex-direction: column;
          padding-top: 3px;
          select{
               width: 100%;
               &:last-child{margin: 0 5px;}
          }
     }
}