.list-nav{
     width: 100%;
     text-align: center;
     background: #fff;
     padding: 5px 0 0 0;
     box-shadow: 0 5px 25px rgba(255,255,255,.5);
     h1{
          font-weight: 600;
          font-size: 27.5px;
          color: #146347;
          word-wrap: break-word;
     }
     &-links,&-options{
          display: flex;
          justify-content: center;
          align-items: center;
     }
     &-links a, &-options select{
          cursor: pointer;transition: .3s;
          padding: 0.5em 1em;outline: none;
     }
     &-links a{
          border-bottom: 2px solid transparent;
          text-decoration: none;font-size: 21px;color: #aaa;
          &:hover,&:focus{border-color: #aaa;}
          &.active{color: #146347;border-color: #146347;}
     }
     &-options{
          background: #93F9B9;
          padding-top: 5px;
          select{
               background: none;
               border: solid #222;
               border-width: 0 0 2px 0;
               margin: 0 5px 5px;
               font-size: 16px;
               font-weight: 500;
               &:hover{color: #808080;border-color: #808080;}
               &:active,&:focus{color: #146347;border-color: #146347;}
          }
     }
}
@media screen and (max-width: 400px){
     .list-nav .list-nav-options{
          flex-direction: column;
          padding-top: 3px;
          select{
               width: 100%;
               &:last-child{margin: 0 5px;}
          }
     }
}