.modal-container{
     position:fixed;
     top: 0;left: 0;
     height: 100vh;
     &,.modal{justify-content: center;align-items: center;display: flex;width: 100%;}
     padding: 15px;
     z-index: 99999;
     background: rgba(0,0,0,.5);
     .modal{
          padding: 15px;
          background-color: $white;
          border-radius: 10px;
          &,.modal-content{flex-direction: column;}
          max-width: 450px;
          .modal-header,.modal-content{width: 100%;}
          .modal-header{
               &,button{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
               }
               h2{font-size: 30px;font-weight: 500;}
          }
          .modal-content{
               display: flex;
               align-items: center;
               justify-content: center;
               ul{
                    list-style: none;
                    width: 100%;
                    text-align: center;
                    li{
                         margin: 10px 0;
                         font-size: 16px;
                         padding-bottom: 10px;
                         border-bottom: 1px solid $mlg2;
                         &:last-child{border: 0;padding: 0;}
                         &.redTxt{color: $error;font-weight: 600;cursor: pointer;&:hover,&:focus{text-decoration: underline;}}
                         a{
                              color: $col3;
                              font-weight: 500;
                              text-decoration: none;
                              &:hover{text-decoration: underline;}
                         }
                    }
               }
               .modal-close{
                    width: 100%;font-size: 16px;
                    background: none;cursor: pointer;
                    border: none;outline: none;
                    font-weight: 550;padding-top: 10px;
                    border-top: 1px solid $mlg2;
                    &:hover, &:focus{
                         color: $col1;
                         text-decoration: underline;
                    }
               }
          }
     }
}