.loadTxt{background: $black; color: $col2;}
.pageTitle{background: $black;color: $white;}
.empty{
     color: $lightGrey;
     padding: 10px;
     background: $black;
     border-radius: 10px;
}
table {
     border-color: $black !important;
     tbody, td, tfoot, th, thead, tr {border-color: inherit !important;}
     tr:nth-child(even){background: $lightGrey;}
     thead,tfoot{background: $lightGrey;th,td{color: $black;}}
}
.widgets .widget{
     background: $black; 
     box-shadow: 0 5px 25px rgba(255,255,255,.33);
     h3:not(ul .w-post .w-post-content h3){border-color: $col2;}
     .categories li a{
          color: $black;background: $col2;
          &:hover,&:focus{background: $black;color:$white;}
     }
     .w-posts .w-post{
          border-color: $lightGrey;
          h3 a{
               color: $col2;
               &:hover{color: $col3}
          }
     }
}
.pagination{
     background: $black;
     color: $white;
     li{color: $moreLightGrey}
     .active{
          color: $black;
          background: $col2 !important;
     }
}
.search{
     &-filter{
          background: $black;
          button{
               border-color: transparent;color: $col2;
               &:hover,&:focus{border-color: $white;}
               &:active,&.active{border-color: $col2;}
          }
     }
     &-container{
          .user-searchElem, .post-searchElem{background: $black; }
          .user-searchElem .details .username{color: $grey;}
          .post-searchElem .details .postDetails svg{color: $col2;}
     }
}
.modal-container{
     background: rgba(0,0,0,.5);
     .modal{
          background-color: $black;
          .modal-title{color: $col2}
          .modal-content{
               ul:not(.pagination) li{
                    border-color: $darkGrey;
                    &.redTxt{color: $errDark;}
                    a{color: $col2;}
               }
               .modal-close{
                    border-color: $darkGrey;
                    &:hover, &:focus{color: $col2;}
               }
          }
     }
}
.skeleton{
     background: $midDarkGrey;
     &-wrapper{background: $black;}
}
.shimmer{
     background: rgba(255,255,255,.075);
     box-shadow: 0 0 30px 30px rgba(255,255,255,.075);
}