.posts .post{
     background: $black;
     box-shadow: 1px 3px 12px rgba(255,255,255,.18);
     .content{
          :where(.details .user, .details .date) svg{color: $col2;}
          .btns .post-options{
               background: $black;
               border-color: $col3;
               li{
                    border-color: $darkGrey;
                    button,a{color: $col2;}
               }
          }
     }
}
.userProfile{
     background: $black;
     .infoBox{
          .pfp{box-shadow: 1px 3px 12px rgba(255,255,255,.18);}
          p{color: $grey;}
          .stats{
               li{
                    color: $grey;
                    span{color: $white;}
               }
               &::after{background: $darkGrey;}
          }
          .bio {
               *{color: $white;}
               a{color: $col2;}
          }
          .website{color: $col2;}
     }
     .main-page nav ul li {
          a{color: $col3;}
          &.active a{color: $col2;}
     }
}
.userlist .user{
     background: $black; 
     box-shadow: 0 5px 25px rgba(255,255,255,.3);
}