*{
     margin:0;
     padding: 0;
     box-sizing: border-box;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', Tahoma, Geneva, Verdana, Arial, 'Helvetica Neue', Helvetica sans-serif;
}
html,body{position: relative;scroll-behavior: smooth;}
@import "./allStyles.scss";
::selection{background: $col2;color: $black;}
.customM{margin: 8px 3.5px;}
.divider{
     -webkit-user-select: none;
     -moz-user-select: none;
     user-select: none;
     pointer-events: none;
     font-size: 20px;
     color: $medGrey !important;
}
.empty{
     font-size: 25px;
     font-weight: 500;
     color: $darkGrey;
     font-style: italic;
     margin-top: 10px;
     text-align: center;
     width: 100%;
}
.loadTxt{
     text-align: center;
     margin-bottom: 7.5px;
     font-size: 32px;
     font-weight: 500;
     padding: 10px;
     background: $white;
     color: $col1;
}
@media (prefers-reduced-motion:reduce){
     *{transition: none!important;scroll-behavior: auto!important;}
}