body{background: $col3;}
.siteMain, .single-post-main{
     display: grid;
     position: relative;
     grid-template-columns: repeat(2,50%);
     @import "./parts/widget.scss";
}
.siteMain{padding: 10px 50px;}
.single-post-main{
     padding: 10px 20px;
     &.full{grid-template-columns: 100%;}
}
@media screen and (max-width: 900px){
     .siteMain,.single-post-main{
          padding: 10px;
          grid-template-columns: auto;
     }
}
@media screen and (max-width: 500px){
     .siteMain,.single-post-main{padding: 0;}
}