$moreLightGrey: #eee;
$lightGrey: #ddd;
$midLightGrey: #ccc;
$mlg3: #bbb;
$grey: #aaa;
$medGrey: #888;
$midDarkGrey: #777;
$mdg2: #707070;
$darkGrey: #444;
$col1: #002a4f;
$col2: #99d5ff;
$col3: #0090ff;
$col4: #005999;
$transpCol1: #99d5ffcc;
$transpCol2: #002a4ff0;
$error: #dc3545;
$errDark: #e35f6d;
$success: #118642;
$white: #fff;
$black: #2f2f2f;
$darkerBlue: #151729;