$moreLightGrey: #eee;
$lightGrey: #ddd;
$mlg2: #ccc;
$midLightGrey: #c0c0c0;
$mlg3: #bbb;
$grey: #aaa;
$medGrey: #888;
$midDarkGrey: #777;
$mdg2: #707070;
$darkGrey: #444;
$col1: #204829;
$col2: #93F9B9;
$col3: #1D976C;
$col4: #146347;
$col5: #9fffc2;
$col6: #167051;
$col7: #01a86e;
$col8: #0e724f;
$transpCol1: #93F9B9cc;
$transpCol2: #14634df0;
$error: #dc3545;
$white: #fff;
$black: #222;