$moreLightGrey: #eee;
$lightGrey: #ddd;
$mlg2: #ccc;
$midLightGrey: #c0c0c0;
$mlg3: #bbb;
$grey: #aaa;
$medGrey: #888;
$midDarkGrey: #777;
$mdg2: #707070;
$darkGrey: #444;
$col1: #204829;
$col2: #93F9B9;
$col3: #01a76e;
$col4: #146347;
$transpCol1: #93F9B9cc;
$transpCol2: #14634df0;
$error: #dc3545;
$errDark: #e35f6d;
$white: #fff;
$black: #2f2f2f;
$darkerBlue: #151729;