.comments-container{
     padding: 10px 0;
     &,.comments{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
     }
     &,.comments,h2:not(.advice){width: 100%;}
     h2:not(.advice){
          padding: 0.25em;font-weight: 500;
          border-bottom: 2px solid $col4;
          margin-bottom: 10px;font-size: 27px;
     }
     .advice{font-weight: 500;color: $medGrey;}
     .frmComments-container, .comments .comment{
          background: $white;
          border-radius: 10px;
          padding: 15px;width: 100%;
     }
     .comments .comment .editForm, .frmComments-container .frmComments .fields{
          display: flex;align-items: center;
          &,textarea{width: 100%;}
          flex-direction: column;
          align-items: flex-start;height: 85px;
          textarea,button{border-radius: 15px;}
          textarea{
               resize: none;
               min-height: 42px;
               overflow: hidden;
               padding: 0.5em;
               margin-bottom: 3px;
               border: 2px solid $grey;
               font-size: 16px;outline:none;
               &:focus{border-color: $col4;}
          }
          .cancel{border-color: transparent;}
          .options{
               align-self: flex-end;
               button{margin: 3px;padding: 0.5em 0.75em;}
          }
     }
     .frmComments-container .frmComments{
          display: flex;align-items: center;
          justify-content: center;
          .pfp{
               border-radius: 50%;
               margin-right: 10px;
          }
     }
     .comments{
          margin-top: 8px;
          .comment{
               display: flex;align-items: center;position: relative;
               justify-content: center;margin-bottom: 8px;
               &-pfp{border-radius: 50%;margin-right: 10px;}
               &-details{
                    width: 100%;
                    h3{
                         font-size: 17.5px;
                         font-weight: 600;
                         color: $col1;
                         a{color: $col1;text-decoration: none;&:hover{text-decoration: underline;}}
                    }
                    p{font-size: 16px;word-wrap: break-word;margin: 5px 0;}
               }
               &-btns {
                    display: flex;
                    align-items: center;
                    .comBtn{
                         margin-right: 5px;font-size: 16px;
                         color: $col1;transition:.3s;cursor: pointer;
                         &:hover,&:focus{opacity: .6;}
                         background: none;border: none;outline: none;
                         &.active{color: $col7}
                    }
                    .com-opt{padding: 0.25em;border: none;}
               }
               &-options{
                    position: absolute;z-index: 10;
                    background: $white;left: 150px;
                    padding: 5px;margin-left: 5px;
                    list-style: none;top: 72%;
                    border-radius: 0 5px 5px 5px;
                    border: 2px solid $col8;
                    li{
                         width: 100%;
                         justify-content: center;
                         border: solid $lightGrey;
                         border-width: 0 0 2px 0;
                         &,button{display: flex;align-items: center;}
                         button{
                              width: inherit;font-size: 18px;
                              padding: 3px;background: none;
                              border: 0;color: $col8;
                              cursor: pointer;
                              svg{margin-right: 5px;}
                              &:hover{opacity: .75;}
                         }
                         &:last-child{border: 0;}
                    }
               }
          }
     }
}