@import "./settingFrm.scss";
@import "./dashboard.scss";
@import "./commentsPage.scss";
.settings{
     &-container{
          display: grid;background: $white;
          grid-template-columns: 180px auto;
          width: 100%;padding: 20px;
     }
     &-menu{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          img{border-radius: 50%;}
          h2{
               font-size: 25px;
               font-weight: 500;
               margin: 10px 0;
               text-align: center;
          }
          ul{
               display: flex;
               flex-direction: column;
               width: 100%;list-style: none;
               li{
                    display: flex;
                    align-items: center;
                    svg{margin-right: 12px;}
                    padding: 8px 12px;margin: 3.5px 0;
                    background: $moreLightGrey;
                    border-radius: 10px;font-size: 18px;
                    &.active{background: $col3;}
                    &:hover,&:focus{background: $col1;}
                    &,a{
                         color: $black;cursor: pointer;
                         transition: .3s;text-decoration: none;
                    }
                    &.active, &:hover, &:focus, &.active a,
                    &:hover a, &:focus a{color: $white}
               }
          }
     }
     &-content{
          padding: 10px 20px;
          h2{
               font-weight: 500;
               font-size: 30px;
               margin: 5px 0;
          }
     }
}
@media screen and (max-width: 500px) {
     .settings{
          &-container{grid-template-columns: auto;}
          &-menu{
               img{
                    width: 100%;
                    max-width: 150px;
                    height: 100%;
                    max-height: 150px;
               }
               ul{
                    flex-direction: row;
                    flex-wrap: wrap;align-items: center;
                    justify-content: flex-start;
                    li{margin: 3px; flex:1; text-align: center;}
               }
          }
          &-content{
               margin-top: 10px;padding: 0;
               h2{text-align: center;margin: 0;}
          }
     }
}
@media screen and (max-width: 300px){
     .settings-menu ul{
          flex-direction: column;
          li{width: 100%;}
     }
}