.userProfile{
     flex-direction: column;
     padding: 12px;background: $white;
     ul{
          list-style: none;
          margin: 0;padding: 0;
          display: flex;
          align-items: center;
     }
     a{text-decoration: none;}
     .infoBox{
          padding: 15px 20px;
          text-align: center;
          max-width: 350px;
          margin: 0 auto;
          .stats li, .website{display: flex;}
          .pfp{
               object-fit: cover;
               border-radius: 50%;
               box-shadow: 1px 3px 12px rgba(0,0,0,.18);
          }
          h2{
               font-weight: 600;
               font-size: 22px;
               margin-bottom: 3px;
          }
          p{color: $medGrey;}
          .stats{
               justify-content: space-between;
               position: relative;
               margin: 20px 0;
               li{
                    flex-direction: column;
                    color: $medGrey;
                    span{
                         color: $black;
                         font-weight: 600;
                         font-size: 18px;
                    }
               }
               &::after{
                    position: absolute;
                    content: '';
                    bottom: -16px;
                    display: block;
                    background: $lightGrey;
                    height: 1px;
                    width: 100%;
               }
          }
          .bio {
               display: -webkit-box;
               -webkit-box-orient: vertical;
               text-align: center;
               -webkit-line-clamp: 5;
               overflow: hidden;
               *{
                    color: $black;
                    font-size: 1rem;
                    line-height: 1.5rem;
               }
               a{
                    text-decoration: underline;
                    color: $col1;
               }
          }
          .website{
               text-align: center;
               margin-top: 5px;
               font-size: 20px;
               align-items: center;
               justify-content: center;
               color: $col1;
               svg{margin-right: 5px;}
               transition: .3s;
               &:hover,&:focus{color: $col3;}
          }
     }
     .main-page{
          nav{
               &,ul{flex-direction: column;}
               &,ul,.btns{display: flex;}
               &,.btns{align-items: center;}
               padding: 5px 0;text-align: center;
               justify-content: space-between;
               ul{
                    gap: 20px;
                    li {
                         a{color: $col3;text-transform: uppercase;}
                         &.active a{color: $col1;font-weight: 600;}
                    }
               }
               .btns{
                    justify-content: center;
                    flex-direction: row;
                    button,a{margin: 10px 2px;}
               }
          }
          .userPosts{
               align-items: flex-start;
               height: auto;min-height: auto;
               .post{
                    width: 320px;
                    .post-options{flex-direction: column;}
               }
          }
     }
}
@media screen and (min-width: 900px){
     .userProfile{
          margin: 0 auto;gap: 5px;
          width: 100%;display: grid;
          justify-content: space-between;
          grid-template-columns: 0.8fr 2fr;
          .infoBox{padding: 15px 0;}
          .main-page nav ul{
               flex-direction: row !important;
               gap: 30px;
          }
     }
}
@media screen and (min-width: 1010px){
     .userProfile{
          .infoBox{margin: 0;margin-right: auto;}
          .main-page nav{
               flex-direction: row !important;
               .btns{margin-top: 0;}
          }
     }
}