.widgets{
     position: sticky;top: 0;
     justify-content: flex-start;
     flex-direction: column;
     height: 100vh;
     padding: 5px;
     &,.widget{display: flex;align-items: center;width: 100%;}
     .widget{
          background: $white;
          box-shadow: 0 5px 25px rgba(255,255,255,.33);padding: 12px;
          max-width: 450px;
          margin-bottom: 10px;border-radius: 10px; 
          h3:not(ul .w-post .w-post-content h3){
               font-size: 25px;
               font-weight: 550;
               padding-bottom: 5px;
               margin-top: 5px;
               border-bottom: 2px solid $col3;
               width: 100%;
          }
          &,ul{flex-direction: column;}
          ul{
               width: 100%;
               list-style: none;
               &,li{display: flex;align-items: center;}
          }
          .categories {
               flex-direction: row;
               flex-wrap: wrap;
               justify-content: flex-start;
               margin-top: 5px;
               li{
                    margin: 3px;
                    a{
                         transition: .3s;
                         color: $col1;
                         text-decoration: none;
                         border-radius: 10px;
                         background: $col2;
                         padding: 0.5em;
                         &:hover{background: $col1;color:$col2}
                    }
               }
          }
          .w-posts .w-post{
               width: 100%;
               cursor: pointer;
               padding: 10px;
               &-img{
                    width: 85px;height: 85px;position: relative;
                    aspect-ratio: 1/1;margin-right: 10px;
                    img{
                         border-radius: 10px;
                         object-fit: cover;
                         object-position: left;
                    }
               }
               &-content{
                    width: 75%;
                    h3,p{
                         display: -webkit-box;
                         -webkit-box-orient: vertical;
                         overflow: hidden;
                         word-wrap: break-word;
                         word-break: break-all;
                    }
                    h3{
                         font-size: 20px;
                         font-weight: 600;
                         -webkit-line-clamp: 2;
                    }
               }
               border-bottom: 1px solid $lightGrey;
               &:last-child{border: 0;}
          }
     }
     .blog-links{
          justify-content: center;
          flex-direction: row!important;
          li{
               margin: 10px 3px 0;
               width: 100%;
               a{width: inherit; font-size: 25px;}
          }
     }
     .time{font-size: 32px;}
     .date{font-size: 16px;}
}
@media screen and (max-width: 900px){.widgets{height: 100%;min-height: 100%;}}
@media screen and (max-width: 500px){
     .widgets .widget{
          h3:not(ul .w-post .w-post-content h3){width: auto;}
          ul li a{text-align: center;}
     }
}
@media screen and (max-width: 400px){
     .widgets .widget .w-posts .w-post{
          &,&-img,&-content{width: 100%;}
          flex-direction: column;
          text-align: center;
          &-img{
               height: 100%;margin-right: 0;
               aspect-ratio: 16/9;
                    img{
                    object-fit: initial;
                    object-position: initial;
               }
          }
     }
}
@media screen and (max-width: 300px){.widgets .widget{ max-width: 265px;}}