.siteHeader{
     position: relative;width: 100%;z-index: 9999;
     padding: 10px 20px;background: $col3;
     justify-content: space-between;
     transition: .3s ease-in-out all;
     .logo{border-radius: 10px;box-shadow: 0 0 5px 5px rgba(255,255,255,.6);}
     &,.inner-content{display: flex;align-items: center;}
     .inner-content{
          width: 50%;
          justify-content: center;
          margin-left: 10px;
          .search{
               &,button{display: flex;align-items: center;}
               width: 80%;
               justify-content: center;
               position: relative;
               input{
                    width: 100%;padding: 0.5em;
                    border-radius: 75px;
                    padding-left: 30px;
                    background: none;font-size: 16px;
                    color: $white;outline: none;
                    border: 2px solid $white;
                    &::placeholder{color: $col2;}
                    &:focus{border-color: $col2;& ~ .icon{color: $col2;}}
               }
               .icon{position: absolute;color: $white;top: 12px;left: 10px;}
               button{
                    position: absolute;
                    top: 9px;right: 10px;
                    font-size: 24px;background: none;
                    border: none;outline: none;
                    cursor: pointer;color: $white;
                    &:hover,&:focus{color: $col2;}
               }
          }
     }
     .userData{
          position: relative;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          img{
               border-radius: 50%;
               width: 64px;height: 64px;
               overflow: hidden;
               cursor: pointer;
               margin-left: 5px;
          }
          .menu{
               position: absolute;
               background: $col4; top: 100%; 
               width: 250px;padding: 10px; right: 0;
               margin-top: 15px;border-radius: 10px;
               box-shadow: 0 0 15px rgba(0,0,0,.3);
               ul{
                    &,li{display: flex;align-items: center;}
                    margin-top: 10px;
                    flex-direction: column;text-align: left;
                    justify-content: center;
                    li{
                         padding: 3px 10px;
                         justify-content: flex-start;
                         &,a{width: 100%;}
                         svg{color: $col2;font-size: 25px;}
                         a{
                              outline: none;
                              padding: 0.5em 1em;transition: .3s;
                              text-decoration: none;color: $white;
                              &:hover,&:focus{
                                   background: none;
                                   color: $col2;
                                   text-decoration: underline;
                              }
                         }
                    }
               }
               .full-name,.notifTitle{font-size: 21px;font-weight: 500;}
               .username,.notifEmpty{color: $col2;}
               span{color: $white;}
               text-align: center;
               &::before{
                    content: '';position: absolute;
                    width: 20px;height: 20px;
                    background: $col4;
                    top: -5px;right: 22.5px;
                    transform: rotate(45deg);
               }
               &.hide{display: none;}
          }
     }
}
@media screen and (max-width: 900px){
     .siteHeader .userData .menu::before{right: 14px;}
}
@media screen and (max-width: 500px){
     .siteHeader{
          padding: 15px 10px;
          position: relative;height: 100px;
          .logo{width: 100px;height: 65px;}
          .inner-content{
               justify-content: center;
               margin: 0;background: none;
               position: absolute;height: inherit;
               width: 100%;top: 0;left: 0;
               background: $col3;z-index: 9999;
               .search{width: 95%;position: inherit;z-index: inherit;}
          }
          .userData .link-icon{margin: 5px;}
     }
}
@media screen and (max-width: 400px){
     .siteHeader .userData{
          width: 100%;
          .menu{width: 260px;}
     }
}